.forgetPassword_frame{
    background-color: aliceblue;
    width: 500px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 600px;
    border-radius: 30px;
}

.forgetPassword_title > h1{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #253858;
    position: relative;
    top: 20px;
    
}

.forgetPassword_email > input{
    position: relative;
    left:50px;
    top: 40px;
    border-radius: 10px;
    width: 300px;

}
.forgetPassowrd_button > button{
    position: relative;
    top:60px;
    left: 400px;

}
.forgetPassowrd_redirectSignup > a{
    position: relative;
    top: 80px;
    left: 250px;
}

