

.questions_frame {
    width: 620px;
    height: 188px;
    border-radius: 20px;
    background-color: #76C1EC;
}
.question_container
.question_title {

  position: relative;
  left: 189px;
  bottom: 150px;
}
.question_title > h1{
  width: 381.39px;
  height: 58px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #081F32;
}
.question_title > h2{
  width: 244px;
  height: 51px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #6E798C;
  position: relative;
  top: -30px;

}
.question_level{
  position: relative;
  left: 500px;
  top: -240px;
}
.question_level > img{
  position: relative;
  left: -20px;

}
.question_level > label{
  position: relative;
  left: -10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #081F32;


}
.question_level > label1{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #6E798C;

}
.question_choices{
  position: relative;
  top: -220px;
  left: 187.7px;
}
.question_choice1and2
.question_choice1 > label{
  position: relative;
  left: 10px;
}
.question_choice2 > input{
  position: relative;
  top: 30px;
}
.question_choice2 > label{
  position: relative;
  top: 30px;
  left: 10px;
}
.question_choice3and4{
  position: relative;
  left: 170px;
  top: -45px;

}
.question_choice3 > label{
  position: relative;
  left: 10px;
}
.question_choice4 > label{
  position: relative;
  left: 10px;
  top: 27px;
}
.question_choice4 > input{
  position: relative;
  
  top: 27px;
}

