

.questions_frame {
    width: 620px;
    height: 188px;
    border-radius: 20px;
    background-color: #76C1EC;
}
.questions_frame > label{
    position: absolute;
    width: 282.35px;
    height: 25px;
    left: 189.69px;
    top: 8px;
    color: #081F32;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
}
.questions_frame > label1{
    position: absolute;
    width: 389.31px;
    height: 25px;
    left: 189.69px;
    top: 41px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #6E798C;
}
.questions_frame > label2{
    position: absolute;
    width: 63.9px;
    height: 25px;
    left: 475.23px;
    top: 61px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #081F32;
}
.questions_frame > label3{
    position: absolute;
    width: 34.94px;
    height: 25px;
    left: 545.12px;
    top: 62px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #6E798C;

}
.questions_frame > img{
    position: absolute;
    width: 23.96px;
    height: 24px;
    left: 439.29px;
    top: 60px;
}

.questions_frame > label4{
    position: absolute;
    left: 187.7px;
    top: 100px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #081F32;

}
.questions_frame > label5{
    position: absolute;
    left: 449.28px;
    top: 100px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #081F32;

}
.questions_frame > label6{
    position: absolute;
    left: 187.87px;
    top: 150px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #081F32;

}
.questions_frame > label7{
    position: absolute;
    left: 449.28px;
    top: 150px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #081F32;

}
.container {
    display: block;
    position: absolute;
    left: 100px;
    top:189px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 107px;
    left: 329.78px;
    height: 20px;
    width: 23.55px;
    background-color: #FE7558;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FE7558;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FE7558;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


