.section-details{
    display: flex;
    background-color: #FAFDFF;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 80px;
    left: 80px;
}

.section-img{
    width: 128px;
}

.section-text{
    display: block;
    width: 600px;
    margin-left: 35px;
}

.section-info{
    width: 190px;
    line-height: 35px;
}

#bold{
    font-size: medium;
    font-weight: bold;
}

#light-font{
    font-weight: lighter;
    color: grey;
}