.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.transaction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.transaction-button {
  align-items: center;
  justify-content: center;
}
